/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d5e6ff; /* Fondo azul claro */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 120vh;
  }
  
  .container {
    text-align: center;
  }
  
  .header {

    border-radius: 10px;
    padding: 20px;
    
    margin-bottom: 20px;
    

  }
  
  .icon {
    width: 180px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 1.5rem;
    color:black;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .option {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 15px 10px rgba(149, 156, 196, 0.952);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .option:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .option img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    max-height: 230px;
    object-fit: cover;
  }
  
  .option p {
    margin: 10px 0 0;
    font-weight: bold;
    color: #4a4a4a;
  }
  /* Botón "Siguiente" */
.next-btn, .previous-btn {
  padding: 20px 30px;
  background-color: #6439ff;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.next-btn:hover, .previous-btn:hover {
  background-color: #4f75ff;
  transform: scale(1.05);
}

/* Ubicación de los botones */
.previous-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.next-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}