/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6f7ff; /* Fondo azul suave */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
}

.form-container {
  max-width:450px;
  margin: 15px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 90%;
  border: 2px solid #4f75ff;
}

h1 {
  font-size:1.8rem;
  color: #6439ff; /* Color morado suave */
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #333;
  margin-bottom: 25px;
}

/* Grupo de radio */
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
}

.radio-group label {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
  border: 2px solid transparent;
  width: 100%;
  background-color: #e6e6e696;
  box-shadow: 0 4px 15px rgba(197, 193, 193, 0.39);
}

.radio-group label:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(79, 117, 255, 0.3);
  background-color: #f0f8ff;
}

.radio-group input {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  accent-color: #4f75ff;
}

.radio-group input:checked + span {
  font-weight: bold;
  color: #000000;
}

/* Botón Enviar */
.submit-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #4f75ff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #6439ff;
  transform: scale(1.05);
}

/* Botones de Navegación */
.nav-buttons {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.nav-buttons button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-buttons .prev-btn {
  background-color: #6439ff;
  color: white;
}

.nav-buttons .prev-btn:hover {
  background-color: #4f75ff;
  transform: scale(1.05);
}

.nav-buttons .next-btn {
  background-color: #6439ff;
  color: white;
}

.nav-buttons .next-btn:hover {
  background-color: #4f75ff;
  transform: scale(1.05);
}

/* Mensajes */
.alert {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #c92121;
  border-radius: 8px;
  text-align: center;
  display: none;
}

.success {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #00cccc;
  border-radius: 8px;
  text-align: center;
}
