<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta</title>
  <link rel="stylesheet" href="../static/pstyles.css">
</head>
<body>
  <div class="background-cover"></div>
  <div class="container">
    <h1>Selecciona tu Nivel Educativo</h1>
    <p>Por favor selecciona el nivel educativo que corresponda.</p>

    <!-- Agregar método POST y acción al formulario -->
    <form id="educationLevelForm" action="/p2" method="POST">
      <div class="radio-group">
        <label><input type="radio" name="nivelEducacion" value="0"><span>Sin estudios</span></label>
        <label><input type="radio" name="nivelEducacion" value="1"><span>Inicial Completo</span></label>
        <label><input type="radio" name="nivelEducacion" value="2"><span>Primaria Completo</span></label>
        <label><input type="radio" name="nivelEducacion" value="3"><span>Secundaria Completo</span></label>
        <label><input type="radio" name="nivelEducacion" value="4"><span>Superior Completo</span></label>
      </div>
      <button type="submit" class="submit-btn">Enviar</button>
    </form>
      
    <button id="previousButton" class="previous-btn">Anterior</button>
  </div>
    
  <script>
    document.getElementById('previousButton').addEventListener('click', function(event) {
      event.preventDefault(); // Evita que el botón envíe el formulario
      window.location.href = '/p1';
    });
  </script>
</body>
</html>
